<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets output="css/compiled/main.css" filter='cssrewrite'
            'css/normalize.css'
            'css/demo.css'
            'css/component.css'
            'css/materialize.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}

        {% endblock %}
        {% block javascripts

        %}

            {% javascripts output='js/compiled/core.js'
            'https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'
            'js/EasePack.min.js'
            'js/rAF.js'
            'js/demo-1.js'
            'js/TweenLite.min.js'
            'js/materialize.js'
            %}
            <script src="{{ asset_url }}" charset="utf-8" ></script>

            {% endjavascripts %}

        {% endblock %}
    </body>
</html>
