{% extends 'base.html.twig' %}

{% block body %}


    <div class="container2 demo-1">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>

                <h1 class="main-title">Meet <span class="thin">J.Guipi</span> <br><br> <a class=" waves-effect waves-light btn-large" href="{{ path('jc_profile_homepage') }}"  style="margin-right: 200px;opacity: 0.7;">Web Page</a><a href="{{ path('jc_blog_homepage') }}" style="margin-left: 300px;opacity: 0.7;" class=" waves-effect waves-light btn-large">Blog</a>       </h1>
            </div>

    </div>
    </div>

{% endblock %}
