{% extends '@JCBlog/layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About symblog</h1>
    </header>
    <article>
        <p>            Hi, I am a student in software engineering passionate about everything related to computer science.
            I'm passionate about programming and learning a variety of technologies, and to date, I have acquired
            skill with a few programming language and some framework. I like to challenge myself and to surpass myself
            in everyday life. One of my goals is to fill in the lack of knowledge by freeing up time to learn in a new subject.
            In addition, I try to stay abreast of every new innovation and knowledge in the field of technology to keep me up to date.</p>

        <a href="{{ path('jc_profile_homepage') }}"> Take a look at my profile to learn more</a>

    </article>
{% endblock %}