{% extends '@JCBlog/layout.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}

        <div class="alert alert-success">
            {{ flashMessage }}
        </div>

    {% endfor %}
    <header>
        <h1>Contact J.Guipi</h1>
    </header>

    <p>Want to contact me?</p>


    {{ include('@JCBlog/Default/_form.html.twig') }}

{% endblock %}

